<!DOCTYPE html>
<html>
  <head>
    <title>Sudoku</title>
  </head>
  <body>
    <h1>Life is too short for playing Sudoku !</h1>
    <%= @message %>
    <form action="/" method="post">
      <% @cells.each do |cell| %>
        <div>
          <input type='text' name="cells[]"  value= <%= cell.value%> ></input>
        </div>
      <% end %>
      <input type="submit" value="check">
    </form>

    <a href="/new">New Game</a>
  
  </body>
</html>

