<!DOCTYPE html>
<html>
  <head>
    <title>Sudoku</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Life is too short for playing Sudoku !</h1>
    <%= @message %>
    <form action="/" method="post">

      <% @cells.each do |cell| %>
        <div>
          <input type='text' name="cells[]"  value= <%= cell.to_s%> ></input>

      <div class="board">
        <% @cells.each do |cell| %>
        <div class="cell">
          <input type='text' name="cells[]"  value= <%= cell.value%> />
        </div>
        <% end %>
      </div>
      <input type="submit" value="check">
    </form>
  

    <a href="/new">New Game</a>
  
  </body>
</html>

