.board {
  margin: 0 auto;
  width: 475px;
  height: 475px;
}

table
{
  border-collapse:collapse;
  border: 4px solid #747D7D;
}

td:nth-of-type(3n+3)  {
 border-right: 4px solid #747D7D;
}

tr:nth-of-type(3n+3)  {
 border-bottom: 4px solid #747D7D;
}

td input {
  border: 1px solid gray;
  width: 42px;
  height: 42px;
  text-align: center;
  font-size: 1.2em;
}
/*
* {
  border: 1px solid gr;
}*/