<!DOCTYPE html>
<html>
  <head>
    <title>Sudoku</title>
  </head>
  <body>
    <h1>Life is too short for playing Sudoku !</h1>
    <form action="/" method="post">
    <% @cells.each_with_index do |cell, index| %>
    <div> <textarea name="cells"> <%= cell.to_s %> </textarea></div>
    <% end %>
    <input type="submit" value="check">
  </form>
  <%= @message %>
  </body>
</html>

