<!DOCTYPE html>
<html>
  <head>
    <title>Sudoku</title>
  </head>
  <body>
    <h1>Life is to short for playing Sudoku !</h1>
    <!-- Use yield where you want content to get rendered -->
    <%= yield %>
  </body>
</html>

<% (0..80)

<div id="0" class="cell"> <textarea </textarea></div>

# win lose feedback
<%= @message %>